@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap");

* {
    font-weight: 300;
}

body {
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

form {
    text-align: center;
    opacity: 0;
}

form > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    align-items: end;
}

form > div > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

form label {
    font-weight: 500;
    font-size: 1.25rem;
    padding-right: 1rem;
}

.bbr-0 {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

form input {
    font-weight: 300;
    font-size: 1.5rem;
    padding: 0.25rem;
    border-radius: 0.5rem 0.5rem;
    flex-grow: 1;
}

form button {
    font-weight: 500;
    padding: 0 4rem;
    font-size: 2.5rem;
}

input:valid {
    border: 1px solid #8ac926;
}

input:invalid {
    border: 1px solid #ff595e;
}

.error {
    transition-duration: 1000ms;
    font-size: 1.25rem;
    color: white;
    background-color: #ff595e;
    border-radius: 0 0 0.5rem 0.5rem;
}

.error.active {
    display: block;
    padding: 0.3em;
}

.good {
    transition-duration: 1000ms;
    opacity: 0;
    position: absolute;
    background-color: #8ac926;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    height: 100%;
    width: 4rem;
    right: 0;
}

.good.active {
    opacity: 1;
}